<?xml version="1.0" encoding="UTF-8"?>
<component type="desktop">
  <id>eu.ithz.umftpd</id>
  <metadata_license>CC0-1.0</metadata_license>
  <project_license>GPL-3.0+</project_license>
  <name>{{global.title}}</name>
  <summary>{{global.description}}</summary>
  <developer_name translatable="no">Felipe A Hernandez</developer_name>
  <description>
    <p>Start an FTP server as user and transfer files with any FTP client.</p>
    <p>Access your files directly with many file browsers' builtin FTP support:
       Windows File Explorer, Thunar, Gnome Files, Dolphin and many more!</p>
    <p>Features:</p>
    <ul>
      <li>An user FTP server, no root required.</li>
      <li>Simple graphical user interface.</li>
      <li>FTP transfer encryption (FTPS). SFTP support.</li>
      <li>Read-only filesystem option.</li>
      <li>Single-user authentication.</li>
      <li>Flatpak.</li>
    </ul>
  </description>
  <launchable type="desktop-id">eu.ithz.umftpd.desktop</launchable>
  <screenshots>
    <screenshot type="default">
      <image>https://gitlab.com/ergoithz/umftpd/-/raw/master/media/v0.2.0-main.png</image>
    </screenshot>
  </screenshots>
  <content_rating type="oars-1.1" />
  <url type="homepage">https://gitlab.com/ergoithz/umftpd</url>
  <url type="bugtracker">https://gitlab.com/ergoithz/umftpd/issues</url>
  <url type="help">https://gitlab.com/ergoithz/umftpd/-/wikis/User-Guide</url>
  <url type="donation">https://ko-fi.com/s26me</url>
  <recommends>
    <control>pointing</control>
    <control>keyboard</control>
    <control>touch</control>
  </recommends>
  <requires>
    <display_length compare="ge">500</display_length>
  </requires>
  <releases>
    <release version="0.2.2" date="2022-08-14">
      <description>
        <p>Fixes</p>
        <ul>
          <li>Block non-writing exclusive-creation in read-only SFTP.</li>
        </ul>
      </description>
    </release>
    <release version="0.2.1" date="2022-08-10">
      <description>
        <p>Features</p>
        <ul>
          <li>All public network addresses are now logged.</li>
          <li>All protocols are now announced via zeroconf.</li>
        </ul>
        <p>Fixes</p>
        <ul>
          <li>Re-enable saved password encryption.</li>
          <li>Show message for xdg-desktop-portal bug #820.</li>
          <li>Remove unnecessary permissions.</li>
        </ul>
      </description>
    </release>
    <release version="0.2.0" date="2022-08-06">
      <description>
        <p>Features</p>
        <ul>
          <li>SFTP support.</li>
          <li>UX improvements.</li>
          <li>Spanish translation.</li>
        </ul>
      </description>
    </release>
    <release version="0.1.1" date="2022-07-30">
      <description>
        <p>Fixes</p>
        <ul>
          <li>Fix host discovery.</li>
          <li>Fix Flatpak generation.</li>
        </ul>
      </description>
    </release>
  </releases>
</component>
