[Desktop Entry]
{{#global._translations}}{{#data.title}}{{!
}}Name[{{code}}]={{data.title}}
{{/data.title}}{{/global._translations}}{{!
}}Name={{global.title}}
{{#global._translations}}{{#data.title_generic}}{{!
}}GenericName[{{code}}]={{data.title_generic}}
{{/data.title_generic}}{{/global._translations}}{{!
}}GenericName={{global.title_generic}}
{{#global._translations}}{{#data.description}}{{!
}}Comment[{{code}}]={{data.description}}
{{/data.description}}{{/global._translations}}{{!
}}Comment={{global.description}}
Exec=umftpd
Terminal=false
Icon=eu.ithz.umftpd
Type=Application
Categories=Network;FileTransfer;
Version=1.0
